<app-header></app-header>
<main class="presentation">
  <div>
    <h3>Trabajos</h3>
    <div class="parent-container">
      <div class="container-pages">
        <img class="img-pages" src="assets/pagina_portfolio.jpg" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="http://www.owless.bio" target="_blank"><strong>Portfolio - Alan Prado</strong></a></p>
        <p>Portafolio personal y p&aacute;gina de presentaci&oacute;n, aqu&iacute; presentaré mis proyectos realizados.</p>
      </div>
      <div class="container-pages">
        <img class="img-pages not-found" src="assets/placeholder.svg" loading="lay" alt="placeholder">
        <p class="legend-pages"><strong>Coming soon...</strong></p>
        <p>Aqu&iacute; registrar&eacute; mis proyectos futuros y trabajos por encargo a medida que surjan.</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
