<app-header></app-header>
<main class="presentation">
  <div>
    <h3>Trabajos</h3>
    <div class="parent-container">
      <div class="container-pages">
        <img class="img-pages" src="assets/pagina_portfolio.png" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="http://www.owless.bio" target="_blank"><strong>www.owless.bio</strong></a></p>
        <p>Portafolio personal y p&aacute;gina de presentaci&oacute;n, aqu&iacute; presentaré mis proyectos realizados.</p>
      </div>
      <div class="container-pages">
        <!-- <img class="img-pages not-found" src="assets/owless_logo_light.svg" loading="lazy" alt="placeholder"> -->
        <img class="img-pages" src="assets/rodcer_website.jpg" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://www.rodcerquimica.com/" target="_blank"><strong>www.rodcerquimica.com</strong></a></p>
        <p>P&aacute;gina de empresa mexicana sobre venta e importación de productos qu&iacute;micos.</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
