<app-header></app-header>
<main class="presentation">
  <div>
    <h3>Trabajos</h3>
    <div class="parent-container">
      <div class="container-pages">
        <img class="img-pages" src="assets/pagina_portfolio.png" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="http://www.owless.bio" target="_blank"><strong>www.owless.bio</strong></a></p>
        <p>Portafolio personal y p&aacute;gina de presentaci&oacute;n, aqu&iacute; presentaré mis proyectos realizados.</p>
      </div>
      <div class="container-pages">
        <!-- <img class="img-pages not-found" src="assets/owless_logo_light.svg" loading="lazy" alt="placeholder"> -->
        <img class="img-pages" src="assets/rodcer_website.jpg" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://www.rodcerquimica.com/" target="_blank"><strong>www.rodcerquimica.com</strong></a></p>
        <p>P&aacute;gina de empresa mexicana sobre venta e importación de productos qu&iacute;micos.</p>
      </div>
      <div class="container-pages">
        <img class="img-pages" src="assets/diheca_website.png" alt="">
        <p class="legend-pages"><a class="redirect" href="https://www.diheca.com/" target="_blank"><strong>www.diheca.com</strong></a></p>
        <p>P&aacute;gina para empresa de tratamiento de aguas y químicos distribuciones integrales Heca.</p>
      </div>
    </div>
    <br>
    <h3>Participaci&oacute;n</h3>
    <div class="parent-container">
      <div class="container-pages">
        <img class="img-pages" src="assets/alyst_app.png" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://www.alystdating.com/" target="_blank"><strong>www.alystdating.com</strong></a></p>
        <p>Participación en el maquetado front-end de aplicación de citas.</p>
      </div>
      <div class="container-pages">
        <img class="img-pages" src="assets/fipresta_web.png" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://app.fipresta.mx/cotizacion" target="_blank"><strong>app.fipresta.mx/cotizacion</strong></a></p>
        <p>Participación en la logica y maquetado de cotización de carros.</p>
      </div>
      <div class="container-pages">
        <img class="img-pages" src="assets/kabik_web.jpg" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://kabik.mx/" target="_blank"><strong>kabik.mx</strong></a></p>
        <p>Participación en añadido de nuevas funciones.</p>
      </div>
      <div class="container-pages">
        <img class="img-pages" src="assets/letech_web.jpg" loading="lazy" alt="owless">
        <p class="legend-pages"><a class="redirect" href="https://www.letech.mx/" target="_blank"><strong>www.letech.mx</strong></a></p>
        <p>Participación en añadido de nuevas funciones.</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
