h3 {
  font-size: 20px;
  margin-bottom: 50px;
  font-family: 'Asap', sans-serif;
}

.img-pages {
  width: 250px;
  border-radius: 10px;
}

.legend-pages {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.container-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  p {
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin-bottom: 0;
  }
  img {
    border: 1.5px solid black;
    height: 144px;
  }
  .not-found {
    background: black;
    filter: blur(1.5px);

  }
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.redirect {
  color: black;
  text-underline-offset: 3px;
}

.redirect:hover {
  background-color: #e6fffa;
}
