<app-header></app-header>
<main class="presentation">
  <div>
    <h3>Herramientas</h3>
    <div class="container-group">
      <span class="tool-group" *ngFor="let tool of herramientas">
        <img class="tool-icon" [src]="tool.iconSrc" loading="lazy" alt="tools">
        <p class="tool-legend">{{ tool.legend }}</p>
      </span>
    </div>
    <h3>Frameworks</h3>
    <div class="container-group-frameworks">
      <span class="tool-group" *ngFor="let framework of frameworks">
        <img class="tool-icon" [src]="framework.iconSrc" loading="lazy" alt="frameworks">
        <p class="tool-legend">{{ framework.legend }}</p>
      </span>
    </div>

    <h3>Experiencia Laboral</h3>
    <div>
      <span>
        <p class="job-title"><strong>Seicom Business Technology (January 2024 - June 2024) - 2 MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo con Framework PowerBuilder de tablas y ventanas para sistemas operativos Windows
              (PowerBuilder).</p>
          </li>
          <li class="job-description">
            <p>Manejo de base de datos de diferentes empresas, con tareas tales como consultas SQL o procedimientos
              almacenados (SQL).</p>
          </li>
        </ul>
      </span>
      <br>
      <span>
        <p class="job-title"><strong>DISCOM | Software Solutions (October 2023 - December 2023) - 4 MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo Front-End de una plataforma de recursos humanos (Angular).</p>
          </li>
          <li class="job-description">
            <p>Desarrollo Back-End y manejo de Base de Datos sobre empleados de una empresa (Laravel, PHP, MySQL).
            </p>
          </li>
        </ul>
      </span>
      <br>
      <span>
        <p class="job-title"><strong>Kabik & Letech (February 2023 - August 2023) - 6 MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo Front-End en 2 tiendas de comercio electrónico (Angular).</p>
          </li>
          <li class="job-description">
            <p>Desarrollo Back-End con SOAP y PDO (PHP).
            </p>
          </li>
        </ul>
      </span>
      <br>
      <span>
        <p class="job-title"><strong>Fipresta (July 2022 - December 2022) - 6 MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo Front-End de una pagina de arrendamiento de carros (Angular).</p>
          </li>
        </ul>
      </span>
      <br>
      <span>
        <p class="job-title"><strong>Sem Nexus - Pr&aacute;cticas Profesionales (January 2022 - June 2022) - 6
            MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo Front-End de una app hibrida de citas online (Ionic,
              Angular, Figma).</p>
          </li>
        </ul>
      </span>
      <br>
      <span>
        <p class="job-title"><strong>Código Late - Servicio social (July 2021 - December 2021) - 6 MESES.</strong></p>
        <ul>
          <li class="job-description">
            <p>Desarrollo de a base de datos no relacional para una app movil de agricultura (Dart).</p>
          </li>
          <li class="job-description">
            <p>Desarrollo de un clon de Uber Eats con motivos de educativos (Flutter).</p>
          </li>
        </ul>
      </span>
    </div>

    <h3>Curriculum Vitae</h3>
    <div class="cv">
      <!-- <a href="assets/CV - Alan Prado ESP.pdf" download="CV - Alan Prado ESP.pdf">
        <button class="button-cv">
          <p>
            <mat-icon> insert_drive_file</mat-icon>Descargar CV español
          </p>
        </button>
      </a> -->
      <a href="assets/CV_Alan_G_Prado.pdf" download="CV_Alan_G_Prado.pdf">
        <button class="button-cv">
          <p>
            <mat-icon> insert_drive_file</mat-icon>Descargar CV
          </p>
        </button>
      </a>
    </div>
  </div>
</main>
<app-footer></app-footer>
