<header>
  <nav>
    <ul class="header-row">
      <div class="container-header">
        <span style="cursor: pointer; display: flex; align-items: center; width: fit-contenty;" routerLink="/home"
          (click)="quitStyles()">
          <img style="width: 40px;" src="assets/owless_logo.svg" alt="">
          <li><strong>Alan Prado</strong></li>
        </span>
        <li *ngFor="let item of items; let i = index" class="link" [ngClass]="{'clicked': item.isActive}"
          (click)="toggleStyles(i)" [routerLink]="item.route"
          [ngStyle]="{'display': i === 0 ? 'none' : 'block'}">
          {{ item.label }}
        </li>
      </div>
      <li class="theme-button">
        <button (click)="toggleIcon(); toggleBackground()" style="cursor: pointer;" class="rotate">
          <mat-icon #iconVariable>{{ currentIcon }}</mat-icon>
        </button>
      </li>
      <div style="margin-left: 15px;" *ngIf="mobileFlag">
        <li class="burguer-li" style="position: relative;">
          <button class="burguer-button" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="fixed-column" [hidden]="!showElement">
            <nav>
              <ul class="burguer-menu-elements">
                <li id="menu-name" routerLink="/home" (click)="toggleMenu()"
                  [ngClass]="{'selected-burguer': items[0].isActive}">
                  <mat-icon>home</mat-icon>Home
                </li>
                <hr class="hr-burguer">
                <li id="menu-name" routerLink="/trabajos" (click)="toggleMenu()"
                  [ngClass]="{'selected-burguer': items[1].isActive}">
                  <mat-icon>business_center</mat-icon>Trabajos
                </li>
                <hr class="hr-burguer">
                <li id="menu-name" routerLink="/experiencia" (click)="toggleMenu()"
                  [ngClass]="{'selected-burguer': items[2].isActive}">
                  <mat-icon>menu_book</mat-icon>Experiencia
                </li>
              </ul>
            </nav>
          </div>
        </li>
      </div>
    </ul>
  </nav>
</header>
