<app-header></app-header>
<main class="presentation">
  <div style="display: flex;" class="cover">
    <div>
      <h1 class="name">Alan Gonzalez Prado</h1>
      <p class="my-title">Ing. en Sistemas Computacionales ( Programador / Ingeniero / Independiente )</p>
    </div>
    <div class="container-profile-pic">
      <img class="profile-pic" src="assets/mi_foto.jpg" alt="">
    </div>
  </div>

  <div>
    <h2>Presentaci&oacute;n</h2>
    <p>Alan es un programador full-stack que vive en Tampico, Tamps., M&eacute;xico, con un inter&eacute;s por el desarrollo web y m&oacute;vil.
      Tiene 23 años y su mayor sueño es trabajar siendo programador remoto. Graduado de la UAT Tampico me inclin&eacute; por esta &aacute;rea de
    la programaci&oacute;n por ser de las mas accesibles y conf&iacute;o en que nunca cesar&eacute; de aprender.</p>
  </div>

  <div>
    <h2>Biograf&iacute;a</h2>
    <span class="dates">
      <p class="year">1999</p>
      <p class="bio-text">Nacimiento en Tampico, Tamaulipas, MX.</p>
    </span>
    <span class="dates">
      <p class="year">2017</p>
      <p class="bio-text">Graduado de carrera técnica en programación en CETis 109 Madero.</p>
    </span>
    <span class="dates">
      <p class="year">2022</p>
      <span>
        <p class="bio-text">Graduado de carrera Ing. en Sistemas Computacionales en UAT Tampico.</p>
        <p class="bio-text">Practicas Profesionales en Restaurel.</p>
      </span>
    </span>
    <span class="dates">
      <p class="year">2023</p>
      <p>Trabaj&oacute; en empresa Compuproductos Kabik.</p>
    </span>
  </div>

  <div>
    <h2>Pasatiempos y gustos</h2>
    <ul class="hobbys">
      <li><p>Jugar videojuegos.</p></li>
      <li><p>Escuchar música.</p></li>
      <li><p>Practicar programación.</p></li>
      <li><p>Cultura Japonesa.</p></li>
      <li><p>Cine y arte.</p></li>
    </ul>
  </div>

  <div>
    <h2>Contacto</h2>
    <span style="display: flex;">
      <a class="button-redes redes" href="https://www.linkedin.com/in/alan-gonzalez-prado-423b50205/" target="_blank">
        <i class="fab fa-linkedin" style="font-size: 24px; color: #2c7a7b; margin-right: 11.5px;"></i>
        Alan Gonzalez Prado</a>
    </span>
    <span style="display: flex;">
      <a class="button-redes redes" href="tel:+528334459280">
        <mat-icon>phone</mat-icon>(833)&nbsp;445&#8209;9280</a>
    </span>
    <span style="display: flex;">
      <a class="button-redes redes" href="mailto:alangonzalezprado@gmail.com">
        <mat-icon>email</mat-icon>alangonzalezprado@gmail.com</a>
    </span>
  </div>

</main>
<app-footer></app-footer>
